/* ปุ่มโพสต์หา-ขายสินค้า */
    .div-btn {
    position: absolute; 
    top: 30px; 
    right: 20px;
    margin-right: 70px;
    }
    
    .btn-post {
    background-color: #09CD56;
    color: #FFFFFF; 
    width: 100%;
    padding: 10px;  
    transition: background-color 0.5s ease, color 0.5s ease;
    }
    
    .btn-post:hover {
    background-color: #08ae4b;
    color: #FFFFFF;
    }
    
    /* css ลูกเล่นตรงส่วน ปุ่มโพสต์หา-ขายสินค้า */
    .blink-2{-webkit-animation:blink-2 1s 1s infinite both;animation:blink-2 1s 1s infinite both}
    
    @-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}

/* ปุ่มหาสินค้า */
    .div-search {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    box-shadow: 0 0.5px 5px 0 rgba(0, 0, 0, 0.40);
    }
    
    .btn-search {
    background-color: #09CD56; 
    width: 50px;
    height: 50px;
    padding: 10px; 
    margin-bottom: 3px; 
    margin-left: -4px;
    border: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    }
    
    .btn-search:hover {
    background-color: #08ae4b;
    }

    /* input-search */
    .input-search {
        height: 50px;
        width: 100px;
        background-color: rgba(255, 255, 255, 0.9); 
    }

    /* header-filter */
    .header-filter {
        margin-left: 10px;
    }

    /* fliter */
    .fliter {
        margin-top: 25px;
    }

    /* หมวดหมู่ */

    /* price ranger slide  */
    .price-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
        margin-top: 10px;
      }
      
      label {
        font-size: 14px;
        font-weight: 500;
      }
      
      p {
        font-size: 16px;
        font-weight: 600;
      }
      
      .range-slider {
        width: 90%;
        position: relative;
        z-index: 0;
        margin-left: 15px;
      }
      
      .range-fill {
        height: 6px;
        background-color: #36b37e;
        position: absolute;
        z-index: 1;
      }
      
      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
        position: absolute;
        left: 0;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #36b37e;
        cursor: pointer;
        margin-top: -5px;
        position: relative;
        z-index: 1;
      }
      
      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        background: #e8e8e8;
        border-radius: 3px;
        border: none;
      }

      /* เลือกประกาศ */
      .radio-input {
        --container-width: 100%;
        --selection-bg: #3ec550;
        --border-radius: 10px;
        --border-color: rgba(53, 52, 52, 0.226);
        --font-color: #000;
        --font-color-selected: #fff;
        --transition-speed: 0.15s;
      
        position: relative;
        display: flex;
        align-items: center;
        width: var(--container-width);
        background-color: #fff;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        overflow: hidden;
      }
      
      .radio-input::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background-color: #00000033;
        z-index: 1;
      }
      
      .radio-input input {
        display: none;
      }
      
      .radio-input label {
        height: 50px;
        flex: 1;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 16px;
        color: var(--font-color);
        z-index: 2; /* Ensures labels are above the dividing line */
        transition: color var(--transition-speed);
      }
      
      .radio-input .selection {
        position: absolute;
        height: 100%;
        width: calc(var(--container-width) / 2);
        background-color: #fff; /* Set initial background color to white */
        top: 0;
        left: 0;
        z-index: 0;
        transition: transform var(--transition-speed), background-color var(--transition-speed);
      }
      
      .radio-input label:has(input:checked) {
        color: var(--font-color-selected);
      }
      
      .radio-input label:nth-of-type(1):has(input:checked) ~ .selection {
        background-color: var(--selection-bg);
        transform: translateX(calc(var(--container-width) * 0 / 2));
      }
      
      .radio-input label:nth-of-type(2):has(input:checked) ~ .selection {
        background-color: var(--selection-bg);
        transform: translateX(calc(var(--container-width) * 2 / 2));
      }
      